<div class="exercise">
    <div class="exercise-name">{{structure.name}}</div>
    <div class="exercise-sets" >
        <div class="exercise-set">
            <mat-form-field class="exercise-set-form-field">
                <mat-label>Weight</mat-label>
                <input matInput type="number" min="0" step="0.25" [(ngModel)]="structure.weight">
            </mat-form-field>
            <mat-form-field class="exercise-set-form-field">
                <mat-label>Repeats</mat-label>
                <input matInput type="number" min="0" [(ngModel)]="structure.repeats">
            </mat-form-field>
        </div>
    </div>
    <mat-divider></mat-divider>
    <mat-form-field class="exercise-comment">
        <mat-label>Comment</mat-label>
        <textarea matInput [(ngModel)]="structure.comment"></textarea>
    </mat-form-field>
</div>