@import '../../../assets/styles/styles.scss';


.container {
    .training-exercises {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    .add-exercise {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        border-radius: 30px;
        margin-top: 30px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

.draggable {
    width: 100px;
    height: 100px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    border-radius: 8px;
    position: absolute;
    touch-action: none; /* отключает поведение браузера при сенсорных событиях */
  }