
<div class="exercise-set" #set [ngClass]="{disabled : !values}" 
(touchstart)="onTouchStart($event, set)"
(touchmove)="onTouchMove($event, set)"
(touchend)="onTouchEnd($event, set)"
 >
    <span>Weight: </span>
    <div class="exercise-set-form-field">
        <input *ngIf="values; else disabledInputW"  type="number" min="0" step="0.25" [(ngModel)]="values.w" placeholder="{{labels.w}}">
        <ng-template #disabledInputW>
            <input type="number" placeholder="{{labels.w}}" disabled>
        </ng-template>
    </div>
    <div>Kg</div>
    <div class="devider">|</div>
    <div>Repeats: </div>
    <div class="exercise-set-form-field">
        <input  *ngIf="values; else disabledInputR" type="number" min="0" [(ngModel)]="values.r" placeholder="{{labels.r}}" >
        <ng-template #disabledInputR>
            <input type="number" placeholder="{{labels.r}}" disabled>
        </ng-template>
    </div>
</div>