.popup {
    width: 100%;
    .popup-title {
        font-size: 20px;
        text-align: center;
    }
    .popup-actions {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}