@import '../../../assets/styles/styles.scss';
.training-date {

    margin-bottom: 30px;
    text-transform: capitalize;

    position: sticky;
    top: 10px;
    z-index: 100;
}


.training-exercises {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}