
.training-date {
    width: 100%;
    font-size: 30px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 30px;
    text-align: center;
    // background-color: $block-color;
    margin-bottom: 30px;
}


.training-exercises {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}