<div class="exercise block"  *ngIf="exercise">

    <div class="exercise-head">
        <div class="exercise-info glass glare" (click)="changeInfo()">
            <div class="exercise-info-name">{{exercise.name}}</div>
            <div class="exercise-info-main">
                <div class="exercise-info-group">{{groups[exercise.group]}}</div>
                <div class="exercise-info-last-train">{{exercise.description.lastTrain| date : 'dd MMMM yyyy'}}</div>
            </div>
        </div>
        <div class="exercise-ations">
            <div class="exercise-history action-btn glass" (click)="moveToHistory()">
                ︙
            </div>
           
            <div class="exercise-delete action-btn glass" (click)="openDialog()">
                <svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M32 241.6c-11.2 0-20-8.8-20-20s8.8-20 20-20l940 1.6c11.2 0 20 8.8 20 20s-8.8 20-20 20L32 241.6zM186.4 282.4c0-11.2 8.8-20 20-20s20 8.8 20 20v688.8l585.6-6.4V289.6c0-11.2 8.8-20 20-20s20 8.8 20 20v716.8l-666.4 7.2V282.4z" fill=""></path><path d="M682.4 867.2c-11.2 0-20-8.8-20-20V372c0-11.2 8.8-20 20-20s20 8.8 20 20v475.2c0.8 11.2-8.8 20-20 20zM367.2 867.2c-11.2 0-20-8.8-20-20V372c0-11.2 8.8-20 20-20s20 8.8 20 20v475.2c0.8 11.2-8.8 20-20 20zM524.8 867.2c-11.2 0-20-8.8-20-20V372c0-11.2 8.8-20 20-20s20 8.8 20 20v475.2c0.8 11.2-8.8 20-20 20zM655.2 213.6v-48.8c0-17.6-14.4-32-32-32H418.4c-18.4 0-32 14.4-32 32.8V208h-40v-42.4c0-40 32.8-72.8 72.8-72.8H624c40 0 72.8 32.8 72.8 72.8v48.8h-41.6z" fill=""></path></g></svg>
            </div>
        </div>    
    </div>
    
    <div class="exercise-sets">
        <!-- <div class="exercises-old-sets" *ngIf="exercise.sets.length <= exercise.description.sets.length">
            <set-block *ngFor="let set of exercise.description.sets; let i = index" 
                (deleteSet)="deleteSet(i)"
                [labels]="exercise.description.sets[i] || {w : '', r : ''}" 
                [values]="exercise.sets[i] || null"></set-block>
        </div>
        <div class="exercise-new-sets" *ngIf="exercise.sets.length > exercise.description.sets.length">
            <set-block 
            *ngFor="let set of exercise.sets; let i = index" 
            (deleteSet)="deleteSet(i)"
            [labels]="exercise.description.sets[i] || {w : '', r : ''}" 
            [values]="exercise.sets[i]"
            ></set-block>
        </div> -->

        <set-block *ngFor="let index of setsIndex(); " 
                (deleteSet)="deleteSet(index)"
                [labels]="exercise.description.sets[index] || {w : '', r : ''}" 
                [values]="exercise.sets[index] || null"></set-block>

       

        <button class="exercise-add-set action-btn glass" (click)="addSet()">Add set</button>
    </div>

    <div class="exercise-comment insert">
        <textarea [(ngModel)]="exercise.comment" class="exercise-comment-textarea" placeholder="Comment..."></textarea>
    </div>
</div>







<div class="exercise block" *ngIf="exerciseDescription">
    <div class="exercise-head">
        <div class="exercise-info glass glare">
            <div class="exercise-info-name">{{exerciseDescription.lastTrain| date : 'dd MMMM yyyy'}}</div>
        </div>
    </div>

    <div class="exercise-sets">
        <set-block *ngFor="let set of exerciseDescription.sets"
            [labels]="set" [disabled]="true">
        </set-block>
    </div>

    <div class="exercise-comment insert">
        <textarea [(ngModel)]="exerciseDescription.comment" class="exercise-comment-textarea" placeholder="Comment..." [disabled]="true"></textarea>
    </div>
</div>




