<div class="training">
    <div class="container">
        <div class="training-date">{{date | date : 'dd MMMM yyyy'}}</div>

        <div class="training-exercises">

            <exercise-block *ngFor="let exercise of exercises" [structure]="exercise" (deleteExerciseEvent)="deleteExercise($event)"></exercise-block>

        </div>

        <div class="add-exercise">
            <mat-form-field class="add-exercise-form-control">
                <input matInput type="text" [(ngModel)]="newExerciseName"  [matAutocomplete]="auto" (ngModelChange)="filterExercises($event)">
                <mat-autocomplete #auto="matAutocomplete" >
                    <mat-option *ngFor="let option of filteredOptions" [value]="option.name">
                      {{option.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <button mat-raised-button class="add-exercise-btn" (click)="addExercise()">add exercise</button>
        </div>

        <div (click)="finishTrain()">finish</div>
    </div>
    
</div>