@import '../../assets/styles/styles.scss';

.training {
    padding: 50px 0;
    .container {
        .training-date {
            width: 100%;
            font-size: 30px;
            padding: 20px;
            box-sizing: border-box;
            border-radius: 30px;
            text-align: center;
            // background-color: $block-color;
            margin-bottom: 30px;
        }

        .training-exercises {
            display: flex;
            flex-direction: column;
            row-gap: 30px;
        }

        .add-exercise {
            width: 100%;
            padding: 15px;
            box-sizing: border-box;
            border-radius: 30px;
            margin-top: 30px;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
    }
}





