/* You can add global styles to this file, and also import other style files */
@import 'fonts';
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Maple, "Helvetica Neue", sans-serif;
    background: rgb(8,21,27);
    background: linear-gradient(315deg, rgba(8,21,27,1) 6%, rgba(17,51,66,1) 89%);
    background-size: cover;
    color: #bbb;
    min-height: 100vh;
}

$orange : #ff6a00;
$transparentOrange : #ffb79bab;


.block {
    background: rgb(8,21,27);
    background: linear-gradient(315deg, rgba(8,21,27,1) 6%, rgba(17,51,66,1) 89%);
    box-shadow: -10px -5px 20px rgb(24, 68, 87),
    10px 15px 20px rgb(2, 6, 8);
}

.glass {
    background: rgba(255, 73, 1, 0.143);
    box-shadow: inset 0 0 60px -30px #ff4901,
    0 0 30px #ff4901,
    -5px -5px 5px -6px #ffb89b,
    5px 5px 5px -6px #ffa37fbe;
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: #ffb79bab;
}

.glass.glare {
    &::before, &::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        min-width: 50px;
        
        background-color: #ffb79b;
        transform: rotate(-30deg);
        box-shadow: 0 0 10px 8px #ffb79b;

        opacity: 10%;
    }

    &::before {
        height: 5%;
        right: 0%;
        top: 20%;
    }

    &::after {
        height: 30%;
        right: -30%;
        top: 40%;
    }
}

.insert {
    background: linear-gradient(315deg, rgba(8,21,27,1) 6%, rgba(17,51,66,1) 89%);
    box-shadow: inset -3px -5px 10px rgb(24, 68, 87),
    inset 7px 10px 10px rgb(2, 6, 8);
}

.btn {
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    user-select: none;
    transition: all .2s;
    &::before, &::after {
        transition: all .2s;
    }
    
    &.glass.glare:active {
        box-shadow: inset 0 0 70px -30px #ff4901,
        0 0 40px #ff4901,
        -5px -5px 5px -6px #ffb89b,
        5px 5px 5px -6px #ffa37fbe;
        &::before {
            right: 30%;
        }
        &::after {
            right: -15%;
        }
    }
}

.container {
    max-width: 450px;
    margin: 0 auto;
    padding: 15px;
}


body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::ng-deep {
    .mat-form-field .mat-form-field-label  {
        color: #bbb;
    }

    .mat-form-field .mat-form-field-ripple {
        background-color: #bbb;
    }

    .mat-form-field.mat-focused .mat-form-field-label,
    .mat-form-field.mat-focused input {
        color: #ffb89b;
        caret-color : #ffb89b;
    }

    .mat-form-field.mat-focused .mat-form-field-ripple {
        background-color: #ffb89b;
    }

    .mat-form-field-appearance-legacy .mat-form-field-underline {
        background-color: #bbb;
    }
}



